body {
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /*Header - includes the button for the favorites and the logo - This might have to be in the Header.css file if we make it*/

  #logo {
    max-width: 350px;
    position: relative;
    top: 20px;
    }

  #myfavorites {
    position: relative;
    left: 59%;
    width: 40px;
    height: 40px;
    top: -20px;
  }


/*
h1 {
    color: blue;    
    }
*/

/*Button - main - these are for the buttons in the nav - Might have to be in the nav.css*/
button {
    margin-left: 15px;
    width: 7em;
    height: 2em;
    border-radius: 30em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
box-shadow:  -4px -4px 22px #d9d9d9,
             4px 4px 22px #ffffff;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background: #1C75BC;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 9em;
 }

button:hover{
    border-radius: 30em;
    background: #e0e0e0;
    box-shadow: inset 4px 4px 11px #d0d0d0,
            inset -4px -4px 11px #f0f0f0;
    color: white;
}

/* Jobs Container - both the filter and the jobs container is in here - We most likely have to make a new css fille (one for both of them and the link that sheet to both js files */

#filtered {
  display: inline-block;
  width: 40%;
  height: 500px;
  position: relative;
  left: 35px;
  top: 20px;
  margin-left: 20px;
  border-radius: 22px;
  background: rgb(237,237,237);
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
  box-shadow:  -11px -11px 22px #d9d9d9,
               11px 11px 22px #ffffff;
}

h3 {
  position: relative;
  top: 15px;
  left: 25px;
}

h5 {
  position: relative;
  top: 15px;
  left: 25px;
}
#jobs {
  display: inline-block;
  margin-left: 40px;
  width: 48%;
  height: 500px;
  position: relative;
  left: 20px;
  bottom: 82px;
  border-radius: 22px;
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
box-shadow:  -11px -11px 22px #d9d9d9,
             11px 11px 22px #ffffff;
}

#favorite-me {
  position: relative;
  margin-right: 5%;
  width: 40px;
  height: 40px;
  top: 5%;
}

#searchName {
  border: none;
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 10px;
  width: 300px;
  border-radius: 1rem;
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
  box-shadow:  -6px -6px 22px #d9d9d9,
              6px 6px 22px #ffffff;
  transition: 0.3s;
}

.input:focus {
 outline-color: #ededed;
 background: linear-gradient(315deg, #ededed, #d5d5d5);
box-shadow:  -4px -4px 35px #b5c8bd,
             4px 4px 35px #f5ffff;
 transition: 0.3s;
}

.footer {
  width: 100%;
  height: 50px;
}

/*Filtered Jobs*/

.ruby-jobs {
  position: relative;
  border-radius: 22px;
  margin: 0 auto;
  background: white;
  width: 90%;
  height: 200px;
}

p {
  position: relative;
  max-width: 90%;

  left: 25px;
  top: 10px;
}